    
        div {
            border: 5px solid pink;
            padding: 30px;
            margin: 5px;
        } 
        a {
            text-decoration: none;
            margin: 5px;
        }
